extends layout

block content
  header(style="position: fixed; top: 0; left: 0;") 회원가입
    img#close.header-btn(style="width: 1.5rem; height: 1.5rem;" src="/취소.png")
  div.content(style="height: 100%")
    .title 어서오세요
    .title 약관동의가 필요해요
    form#agree-form(action='/agree' method='POST' style="height: 100%; position: relative")
      div.check-group(style="margin-top: 3rem")
        input#all-agree.checkbox(type='checkbox' name="all-agree")
        img.check(src="/check.svg")
        label(for="all-agree") 전체동의
      .line
      .check-group
        input#first-agree(type='checkbox' name="first-agree")
        img.check(src="/check.svg")
        label(for="first-agree") 배달의민족 이용약관 동의
      .check-group
        input#second-agree(type='checkbox' name="second-agree")
        img.check(src="/check.svg")
        label(for="second-agree") 전자금융거래 이용약관 동의
      .check-group
        input#third-agree(type='checkbox' name="third-agree")
        img.check(src="/check.svg")
        label(for="third-agree") 개인정보 수집이용 동의
      .check-group
        input#fourth-agree(type='checkbox' name="fourth-agree")
        img.check(src="/check.svg")
        label(for="fourth-agree") 개인정보 제3자 제공 동의 (선택)
      .check-group
        input#fifth-agree(type='checkbox' name="fifth-agree")
        img.check(src="/check.svg")
        label(for="fifth-agree") 마케팅 정보 메일, SMS 수신동의 (선택)

      .line
      .radio-box
        input#first-radio(type="radio" name="age-over")
        label(for="first-radio") 만 14세 이상입니다.
      .radio-box
        input#second-radio(type="radio" name="age-under")
        label(for="second-radio") 만 14세 미만입니다.

      button#next-btn.submit-btn(type='submit' style="position: absolute; bottom: 1rem") 다음으로

  script(src='/agree.js')
