* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 10px;
}

form {
  width: 100%;
}
input {
  border: 0 solid lightgray;
  border-bottom-width: 0.1rem;
  padding: 0.8rem 0;
  padding: 0.8rem 0;
  margin: 0.3rem 0;
}
button {
  background: none;
  border: none;
}
label {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.content {
  padding: 2.5rem;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.submit-btn {
  background-color: #23b9b4;
  width: 100%;
  color: #fff;
  padding: 1rem;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.submit-btn:disabled{
    background: lightgray;
}
.link-btn{
    color: #23b9b4;
}
.input-group {
  margin-top: 1rem;
}
.text-input {
  width: 100%;
}
.check-group {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 1rem 0;
}

.line {
  width: 100%;
  border: 0 solid lightgray;
  border-bottom-width: 0.1rem;
}

.title {
  width: 100%;
  text-align: start;
  font-size: 2rem;
  font-weight: 700;
}

.radio-box {
  width: 100%;
  background: lightgray;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

#find-idpw {
  margin: 1.4rem 0;
  padding: 0.3rem;
  font-size: 1.4rem;
  color: #aaa;
}
#find-idpw * {
  margin: 0 1rem;
}

.login-as-btn {
  font-size: 1.2rem;
  border: 1px solid #444;
  width: 100%;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0.3rem 0;
}
